.questionBox{
    padding: 10px;
    background-color: #FFFFD4;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.187);
    position: relative;
    height: 70px;
}
.questionBox ion-icon {
    position: absolute;
    right: 10px;
    bottom: 2px;
    font-size: 1.5em;
    cursor: pointer;
}
.questionBox > p{
    font-size: 0.9em;
    font-family: 'Recursive', sans-serif;
}
